# Sample configuration file for the TSK Proxy

[logging]

# Verbosity of logging used.
loglevel = DEBUG

[telegraf]

# Kafka cluster to publish telegraf metrics to
brokers = localhost:9092

# Topic to public metrics to
topic = "telegraf-test"

# TODO: fancy mappings from graphite metric to influx tags etc.

[tsk]

brokers = localhost:9092

topic_prefix = tsk-test

# TSK channel to subscribe to
channel = test-channel

consumer_group = telegraf-proxy
