# Sample configuration file for the TSK Proxy

[logging]

# Verbosity of logging used.
loglevel = DEBUG

[timeseries]

# libtimeseries backends to enable (comma-separated)
backends = ascii

# arguments to pass to the "ascii" libtimeseries backend
ascii-opts =

[kafka]

brokers = localhost:9092

topic_prefix = tsk-test

# TSK channel to subscribe to
channel = test-channel

# allows multiple tsk-proxy instances to be used to load balance the incoming
# messages.
consumer_group = tsk-proxy

[stats]

# libtimeseries backend to use for TSK stats monitoring
ts_backend = ascii
# options for the given timeseries backend
ts_opts =

# stats update interval (0 disables stats)
interval = 60
